/* This file will automatic applyed when using rm_typec board */
&spi1 {
interrupts = <35 0>;
};

/ {
    can_rx_mgr1: can_rx_mgr1 {
        compatible = "rp,can-rx-manager";
        status = "okay";
        can-bus = <&can1>;
        label = "can_rx_mgr1";
    };

    can_tx_mgr1: can_tx_mgr1 {
        compatible = "rp,can-tx-manager";
        status = "okay";
        can-bus = <&can1>;
        label = "can_tx_mgr1";
    };

    dial_motor:lk_motor1{
        compatible = "rp,lk-can-motor";
        status = "okay";
        can-bus = <&can1>;
        rx-manager = <&can_rx_mgr1>;
        tx-manager = <&can_tx_mgr1>;
        tx-id = <0x141>;
        rx-id = <0x141>;
        motor-type = "MG";
        label = "dial_motor";
        control-mode = "single_control";
        Tx-feq = <1000>;
        motor-encoder = <65532>;
        motor-transmission-ratio = <1>;     //减速比在拨盘处已经被包含，拨盘电机不需要再设置减速比
    };

};
