/* This file will automatic applyed when using rm_typec board */
&spi1 {
interrupts = <35 0>;
};

&bmi08x_accel {
    fifo-watermark = <3>;
};

&bmi08x_gyro {
    fifo-watermark = <3>;
};

/ {
    remote: remote0 {
        status = "okay";
        compatible = "rp,remote";
        uart = <&usart3>;
    };
    aliases {
        remote0 = &remote;
    };

    can_rx_mgr1: can_rx_mgr1 {
        compatible = "rp,can-rx-manager";
        status = "okay";
        can-bus = <&can1>;
        label = "can_rx_mgr1";
    };

    can_tx_mgr1: can_tx_mgr1 {
        compatible = "rp,can-tx-manager";
        status = "okay";
        can-bus = <&can1>;
        label = "can_tx_mgr1";
    };
    can_rx_mgr2: can_rx_mgr2 {
            compatible = "rp,can-rx-manager";
            status = "okay";
            can-bus = <&can2>;
            label = "can_rx_mgr2";
        };
    can_tx_mgr2: can_tx_mgr2 {
        compatible = "rp,can-tx-manager";
        status = "okay";
        can-bus = <&can2>;
        label = "can_tx_mgr2";
    };

    fric_L:motor1{
        compatible = "rp,dji-can-motor";
        status = "okay";
        can-bus = <&can1>;
        rx-manager = <&can_rx_mgr1>;
        tx-manager = <&can_tx_mgr1>;
        tx-id = <0x200>;
        rx-id = <0x201>;
        motor-type = "M3508";
        label = "fric_l";
        control-mode = "torque";
        Tx-feq = <1000>;
        motor-encoder = <8192>;
        motor-transmission-ratio = <1>;
    };

    fric_R:motor2{
        compatible = "rp,dji-can-motor";
        status = "okay";
        can-bus = <&can1>;
        rx-manager = <&can_rx_mgr1>;
        tx-manager = <&can_tx_mgr1>;
        tx-id = <0x200>;
        rx-id = <0x202>;
        motor-type = "M3508";
        label = "fric_r";
        control-mode = "torque";
        Tx-feq = <1000>;
        motor-encoder = <8192>;
        motor-transmission-ratio = <1>;
    };

    gimbal_YAW:motor3{
        compatible = "rp,dm-can-motor";
        status = "okay";
        can-bus = <&can2>;
        rx-manager = <&can_rx_mgr2>;
        tx-manager = <&can_tx_mgr2>;
        tx-id = <0x02>;
        rx-id = <0x12>;
        motor-type = "DM43";
        label = "gimbal_yaw";
        control-mode = "MIT";
        Tx-feq = <1000>;
        motor-encoder = <65535>;
        motor-transmission-ratio = <9>;
        vel-max = <45000>;          // 这里的整数都要除以1000才是实际的上限，必须与上位机的值对应
        tq-max = <54000>;
        pos-max = <3141>;
        mit-params-limit = <500000 0 5000 0>;
    };

        Tx-feq = <1000>;
        motor-encoder = <65535>;
        motor-transmission-ratio = <9>;
        vel-max = <45000>;         
    gimbal_PITCH:motor4{
        compatible = "rp,dm-can-motor";
        status = "okay";
        can-bus = <&can1>;
        rx-manager = <&can_rx_mgr1>;
        tx-manager = <&can_tx_mgr1>;
        tx-id = <0x01>;
        rx-id = <0x11>;
        motor-type = "DM43";
        label = "gimbal_pitch";
        control-mode = "MIT"; // 这里的整数都要除以1000才是实际的上限，必须与上位机的值对应
        tq-max = <54000>;
        pos-max = <3141>;
        mit-params-limit = <500000 0 5000 0>;
    };

    dial_motor:lk_motor1{
        compatible = "rp,lk-can-motor";
        status = "okay";
        can-bus = <&can1>;
        rx-manager = <&can_rx_mgr1>;
        tx-manager = <&can_tx_mgr1>;
        tx-id = <0x141>;
        rx-id = <0x141>;
        motor-type = "MG";
        label = "dial_motor";
        control-mode = "single_control";
        Tx-feq = <1000>;
        motor-encoder = <65532>;
        motor-transmission-ratio = <1>;     //减速比在拨盘处已经被包含，拨盘电机不需要再设置减速比
    };
    
    aliases {
        watchdog0 = &iwdg;  /* 将 watchdog0 指向 IWDG 硬件 */
    };
};

&iwdg {
    status = "okay"; /* 启用独立看门狗 IWDG */
};
